*,
*::before,
*::after {
    box-sizing: border-box;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.button {
    padding: 7px 21px;
    align-self: start;
    font-family: "Montserrat", "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    font-weight: 700;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right, #0019ff, #ff00a8);
    cursor: pointer;
    transition: opacity 0.3s linear;
}
.button:hover {
    opacity: 0.6;
}
.button--create {
    padding: 7px 27px;
}
.button--save {
    font-size: 16px;
    border-radius: 20px;
    padding: 14px 100px;
    background: #00ff1a;
}
.header {
    display: flex;
    position: relative;
    background-color: #fff;
}
.header__logo {
    align-self: start;
}
.header__inner {
    height: 100px;
    display: grid;
    grid-template-columns: 262px auto min-content;
    flex-grow: 1;
    align-items: center;
}
.header__left {
    padding: 0 0 0 40px;
    display: flex;
    flex-direction: column;
}
.header__nav {
    position: absolute;
    top: 100%;
    left: 0;
}
.header__center {
    padding: 0 0 0 40px;
    display: flex;
    align-items: center;
    gap: 26px;
}
.header__right {
    padding: 0 130px 0 0;
}
.main-menu {
    height: 0;
    width: 262px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
}
.main-menu--opened {
    height: calc(100vh - 100px);
}
.main-menu__toggle {
    top: -70px;
    right: 28px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}
.main-menu__toggle::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 18px;
    background-image: url("./images/icons/sprite.svg#main-menu-open");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-menu__inner {
    max-height: 100%;
    position: relative;
    padding: 20px 28px 0 40px;
    display: none;
    flex-grow: 1;
    grid-template-rows: min-content 1fr min-content;
    background-color: #fff;
}
.main-menu__inner--opened {
    display: grid;
}
.main-menu__site-nav {
    margin: 0 0 40px 0;
}
.main-menu__board-nav {
    padding: 10px 0 2px 0;
    max-height: 100%;
    overflow: hidden;
    position: relative;
}
.main-menu__board-nav::before {
    position: absolute;
    content: "";
    width: 187px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #f6f6f9;
}
.main-menu__team-info {
    position: relative;
    padding: 20px 0;
}
.main-menu__team-info::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f6f6f9;
}
.main-menu__popover {
    padding: 39px;
    height: 100vh;
    top: -100px;
    left: 100%;
}
.page {
    height: 100%;
    min-height: 100%;
    overflow: auto;
}
.page__body {
    margin: 0;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-family: "Montserrat", "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    color: #56577d;
    background-color: #f6f6f9;
}
.page__title {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5em;
}
.page__main {
    flex-grow: 1;
    max-height: calc(100% - 100px);
}
.popover {
    display: none;
    position: absolute;
    max-width: 340px;
    width: max-content;
    min-width: 270px;
    background-color: #fff;
}
.popover--opened {
    display: flex;
}
.popover__content {
    flex-grow: 1;
    max-height: 100%;
}
.user-info {
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 12px;
    text-decoration: none;
    color: #56577d;
}
.user-info__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background: linear-gradient(to right, #0019ff, #ff00a8);
}
.user-info:hover .user-info__toggle {
    animation: arrowDownMove 0.5s ease-out;
}
@keyframes arrowDownMove {
    0% {
        top: 0;
    }
    50% {
        top: 3px;
    }
    100% {
        top: 0;
    }
}
.user-menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.user-menu__item {
    padding: 5px 0;
}
.user-menu__link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #56577d;
}
.user-menu__link:hover {
    text-decoration: underline;
}
.user-menu__link::before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center right;
}
.user-menu__link--log-out {
    font-size: 12px;
    line-height: 1.5em;
    color: #7b7ca6;
}
.user-menu__link--log-out::before {
    background-image: url("./images/sprite.svg#log-out");
    background-size: 17px 17px;
}
.user-menu__link--new-team::before {
    background-image: url("./images/icons/sprite.svg#plus-icon");
    background-size: 25px 25px;
}
.header-right-menu {
    display: flex;
    gap: 20px;
}
.header-right-menu__item {
    position: relative;
    display: flex;
    align-items: center;
}
.header-right-menu__popover {
    padding: 30px 15px;
    top: 100%;
    left: -50%;
}
.header-right-menu__notification-toggle {
    padding: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    background-image: url("./images/icons/sprite.svg#notification");
    background-color: rgba(0, 0, 0, 0);
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: top center;
}
.header-right-menu__notification-toggle:hover {
    animation: bellMove 0.5s ease-in-out;
}
@keyframes bellMove {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(6deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.site-nav {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.site-nav__item {
    padding: 6px 0;
}
.site-nav__link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #56577d;
}
.site-nav__link::before {
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}
.site-nav__link--home::before {
    background-image: url("./images/icons/sprite.svg#home");
    background-size: 20px 21px;
}
.site-nav__link--settings::before {
    background-image: url("./images/icons/sprite.svg#settings");
    background-size: 23px 23px;
}
.site-nav__link:hover {
    text-decoration: underline;
}
.board-nav {
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.board-nav__title {
    position: relative;
    text-align: center;
    color: #b9bacf;
}
.board-nav__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    overflow: auto;
    list-style: none;
    scrollbar-width: thin;
}
.board-nav__item {
    padding: 6px 0;
}
.board-nav__link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: #56577d;
}
.board-nav__link::before {
    display: block;
    content: "";
    width: 32px;
    height: 32px;
    background-image: url("./images/icons/sprite.svg#board");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 21px 21px;
}
.board-nav__link:hover {
    text-decoration: underline;
}
.team-info {
    display: grid;
    align-items: center;
    grid-template-columns: 38px auto 20px;
    grid-template-rows: 20px 18px;
    gap: 0 14px;
    cursor: pointer;
}
.team-info__avatar {
    grid-row: 1/-1;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    background: linear-gradient(to right, #0019ff, #ff00a8);
}
.team-info__name {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
}
.team-info__members {
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 10px;
    line-height: 1.5em;
}
.team-info__toggle {
    grid-column: 3/4;
    transform: rotate(-90deg);
}
.team-info:hover .team-info__toggle {
    animation: arrowRightMove 0.5s ease-out;
}
@keyframes arrowRightMove {
    0% {
        left: 0;
    }
    50% {
        left: 3px;
    }
    100% {
        left: 0;
    }
}
.popup-toggle-open {
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 14px;
    border: none;
    background-image: url("./images/icons/sprite.svg#plus-icon");
    background-size: 28px 28px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-size 0.1s linear;
}
.popup-toggle-open:hover {
    background-size: 31px 31px;
}
.popup-toggle-open:active {
    opacity: 0.6;
}
.arrow-toggle {
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("./images/icons/sprite.svg#arrow-icon");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
}
.task-board {
    padding: 20px 0 0 0;
    margin: 0 auto;
    width: calc(100% - 100px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.task-board__category {
    max-height: 100%;
    overflow: hidden;
}
.category {
    min-width: 210px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.category__title {
    margin: 0;
    padding: 25px 0;
    text-align: center;
    font-size: 24px;
    line-height: 1.5em;
    color: #fff;
    border-radius: 20px;
}
.category__title--to-do {
    background-color: #00a3ff;
}
.category__title--in-work {
    background-color: #6100ff;
}
.category__title--not-done {
    background-color: #ff008a;
}
.category__title--done {
    background-color: #00ff1a;
}
.category__task-list {
    overflow: auto;
    scrollbar-width: thin;
}
.category__new-task-toggle {
    padding: 12px 28px 12px 14px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    text-align: start;
    font-family: "Montserrat", "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #7b7ca6;
    cursor: pointer;
    border: none;
    background-color: #fff;
}
.category__new-task-toggle::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("./images/icons/sprite.svg#plus-icon-round");
}
.task-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
.task-card {
    padding: 20px 14px 14px 14px;
    display: grid;
    grid-template-columns: min-content 20px;
    justify-content: space-between;
    row-gap: 10px;
    color: #7b7ca6;
    cursor: pointer;
    background-color: #fff;
}
.task-card__icon {
    background-image: url("./images/icons/sprite.svg#task-card-icon");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 19px 5px;
}
.task-card__title {
    margin: 0;
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 400;
    color: #3d3e59;
    grid-column: span 2;
}
.task-card__theme {
    padding: 7px 11px;
    font-size: 12px;
    line-height: 1.5em;
    border-radius: 10px;
    background-color: #c1e9ff;
}
.task-card__description {
    margin: 0;
    max-height: 150px;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.5em;
    grid-column: span 2;
}
.task-card__attachment {
    grid-column: span 2;
}
.task-card__date {
    grid-column: span 2;
    font-size: 12px;
    line-height: 1.5em;
}
.popup-container {
    display: none;
}
.popup-container--opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}
.popup {
    position: relative;
    z-index: 1;
    display: none;
    padding: 40px;
    width: 500px;
    background-color: #fff;
}
.popup--opened {
    display: block;
}
.popup__title {
    margin: 0 0 20px 0;
    font-size: 24px;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0);
    background-size: 100%;
    background-image: linear-gradient(to right, #0019ff, #ff00a8);
    background-clip: text;
    -webkit-background-clip: text;
}
.popup__title--new-task {
    font-size: 20px;
}
.popup__title--task {
    font-size: 20px;
}
.popup__close-toggle {
    padding: 0;
    position: absolute;
    top: 20px;
    right: 40px;
    width: 20px;
    height: 20px;
    border: none;
    background-image: url("./images/icons/sprite.svg#close-popup");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-size: 20px 20px;
    cursor: pointer;
}
.popup__close-toggle:hover {
    opacity: 0.6;
}
.popup__close-toggle:active {
    opacity: 0.3;
}
.form {
    padding: 2px 5px 2px 2px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 80vh;
    overflow: auto;
    scrollbar-width: thin;
}
.form__group {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form__label {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form__input-title {
    width: fit-content;
    cursor: pointer;
    padding: 0 0 0 14px;
}
.form__input {
    flex-grow: 1;
    padding: 14px 15px;
    font-size: 12px;
    font-family: "Montserrat", "Roboto", sans-serif;
    color: #3d3e59;
    border-radius: 15px;
    border: none;
    background-color: #f6f6f9;
}
.form__input::placeholder {
    color: #b9bacf;
}
.form__input:not(:placeholder-shown):invalid {
    outline: 1px solid #ff008a;
}
.form__input--textarea {
    margin: 0;
    min-height: 90px;
    resize: none;
}
.form__input--attachment {
    display: none;
}
.form__attachment-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    font-size: 12px;
    color: #b9bacf;
    cursor: pointer;
    outline: dashed 1px #00ff1a;
    border-radius: 15px;
}
.form__submit-button {
    align-self: center;
    margin: 0 0 10px 0;
}
.form__theme-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 12px;
    line-height: 1.5em;
    list-style: none;
}
.form__theme-list-item {
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    transition: background-color 0.3s linear;
}
.form__theme-list-item:has(input[value="programming"]) {
    outline: dashed 1px #c1e9ff;
}
.form__theme-list-item:has(input[value="programming"]:checked) {
    background-color: #c1e9ff;
    outline: none;
}
.form__theme-list-item:has(input[value="design"]) {
    outline: dashed 1px #ffc1ea;
}
.form__theme-list-item:has(input[value="design"]:checked) {
    background-color: #ffc1ea;
    outline: none;
}
.form__theme-list-label {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
}
.team-menu {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.team-menu__name {
    margin: 0;
    font-size: 20px;
    line-height: 1.5em;
    color: rgba(0, 0, 0, 0);
    background-size: 100%;
    background-image: linear-gradient(to right, #0019ff, #ff00a8);
    background-clip: text;
    -webkit-background-clip: text;
}
.team-menu__links-list {
    position: relative;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
}
.team-menu__links-list::before {
    content: "";
    position: absolute;
    width: 187px;
    height: 2px;
    top: -10px;
    left: 0;
    background-color: #f6f6f9;
}
.team-menu__links-item {
    display: flex;
}
.team-menu__link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 14px;
    color: #7b7ca6;
    text-decoration: none;
    background: none;
}
.team-menu__link:hover {
    text-decoration: underline;
}
.team-menu__link::before {
    display: block;
    content: "";
    width: 36px;
    height: 36px;
    background-position: center;
    background-repeat: no-repeat;
}
.team-menu__link--log-out {
    font-size: 12px;
    line-height: 1.5em;
}
.team-menu__link--log-out::before {
    background-image: url("./images/icons/sprite.svg#log-out");
    background-size: 20px 20px;
}
.team-menu__link--new-member::before {
    background-image: url("./images/icons/sprite.svg#plus-icon");
    background-size: 28px 28px;
}
.team-menu__button {
    transform: rotate(90deg);
}
.team-menu__button:hover {
    animation: arrowLeftMove 0.5s ease-out;
}
@keyframes arrowLeftMove {
    0% {
        left: 0;
    }
    50% {
        left: -3px;
    }
    100% {
        left: 0;
    }
}
.team-members-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 28px;
    height: min-content;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    list-style: none;
}
.team-member-info {
    display: grid;
    grid-template-columns: 36px 1fr 20px;
    gap: 14px;
    align-items: center;
}
.team-member-info__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    color: #fff;
    border-radius: 50%;
    background: linear-gradient(to right, #0019ff, #ff00a8);
}
.team-member-info__delete-button {
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("./images/sprite.svg#close");
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
